<h1><%= link_to quest.title, quest %></h1>
<h2>Location: <%= link_to quest.portal.location, quest.portal%></h2>
<h4>Current participants: 
	<% if current_user && current_user.god %> 
		<% quest.users.each do |user| %>
			<%= user_with_link(user) %>
		<%end%> 
	<%else%>
		<%= quest.list_users %>
	<%end%>
</h4>

