/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
	max-width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

header, footer {
    padding: 1em;
    margin: 0;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

footer {
    bottom: 0;
}

nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
    position: fixed;
}

.central {
	float: left;
	margin-left: 250px;
	padding-bottom: 250px;
}

.right_column {
    float: left;
    max-width: 200px;
    margin: 0;
    padding: 1em;
    position: absolute;
    right: 50px;
}

#container {
    min-height: 100%;
    position: relative;
}

#accordian {
    display: none;
    background-color: lightgrey;
    text-align: left;
    transition: 0.4s;
}

#quests {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden; 
}